$heading: #444444;
$heading_border: #333333;

$red: #FCD6DD;
$red_border: #FCBDC8;

$yellow: #FFF1CC;
$yellow_border: #F2DEA9;

$blue: #CAF0FF;
$blue_border: #A7DCF2;

$green: #E1FDCE;
$green_border: #C1EAA6;

$gray: #F9FAFA;
$gray_border: #D2D6DA;

$odd: #EEEEEE;
$odd_border: #DDDDDD;

$even: #FEFEFE;
$even_border: #DDDDDD;

$disable: #999999;

$action: #2A7AFA;
$action_hover: #0A5AFF;

$low: #FA2A7A;
$low_hover: #FF0A5A;

$high: #2A7AFA;
$high_hover: #0A5AFF;

$mid: #FED030;
$mid_hover: #FECA17;

$blink_low: #FA2A7A;
$blink_high: #2A7AFA;
$blink_mid: #FED030;

$step: 7;
$step_border: 10;
